@media (min-width: 1500px) {
  div.container .block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
  }
  div.input-block {
    width: 30vw;
  }
}